<div
  class="d-flex flex-column flex-root app-root"
  id="kt_app_root"
  style="height: 100vh"
>
  <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
    <!-- <app-header style="flex-shrink: 0"></app-header> -->
    <div
      class="app-wrapper flex-column flex-row-fluid"
      id="kt_app_wrapper"
      style="display: flex; flex: 1"
    >
      <!-- <app-sidebar style="flex-shrink: 0"></app-sidebar> -->
      <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
        <!-- style="padding-bottom: 60px" -->
        <router-outlet></router-outlet>
        <!-- style="position: relative; bottom: 0; height: 60px; width: 100%" -->
        <!-- <app-footer></app-footer> -->
      </div>
    </div>
  </div>
</div>
